References
==========

.. toctree::
   :maxdepth: 2

.. automodule:: {{ module_name }}.sample
   :members:
   :show-inheritance:
   :inherited-members:

.. ##### ToDo: Rewrite this automodule section. ####
