dist: xenial
language: python
env:
  - TOX_ENV=py38
  - TOX_ENV=py37
install:
  - pip install coveralls tox
script:
  - tox -e $TOX_ENV
  - python setup.py check -r
after_success:
  - coveralls --verbose

matrix:
  allow_failures:
    - python: pypy3
      env: TOX_ENV=pypy3
    - python: py3.8-dev
      env: TOX_ENV=py38
  include:
    - python: 3.8
      env: TOX_ENV=py38
    - python: 3.7
      env: TOX_ENV=py37
