[tox]
envlist =
    py37,
    pycodestyle
    pydocstyle,
    docs

[testenv]
commands =
    py.test --pylint --pylint-rcfile={toxinidir}/.pylintrc {{ module_name }}

[py]
deps=
    pytest-cov
    pytest-flakes
    pytest-pylint
    pytest-random
    pytest-remove-stale-bytecode

[pep8]
show-source=True
statistics=True
exclude=.svn,CVS,.bzr,.hg,.git,__pycache__,.tox,setup.py,docs

[testenv:py37]
deps=
    {[py]deps}
basepython = python3.7

[testenv:pypy]
deps=
    {[py]deps}
basepython = pypy

[testenv:pypy3]
deps=
    {[py]deps}
basepython = pypy3

[testenv:pycodestyle]
deps=
    {[py]deps}
    pycodestyle
basepython = python3.7
commands = pycodestyle --first

[testenv:pydocstyle]
deps=
    pydocstyle
commands = pydocstyle {{ module_name }}
basepython = python3.7

[testenv:docs]
deps=
    Sphinx
    sphinx_rtd_theme
commands = python setup.py build_sphinx
