{% set suffix="'s documentation" -%}
{%- set hr=('=' * (name|length + suffix|length)) -%}
{{ name }}{{ suffix }}
{{ hr }}

Contents:

.. toctree::
   :maxdepth: 2

   README
   modules/index

.. ##### ToDo: Rewrite about documentation indexes. #####

.. toctree::
   :maxdepth: 1

   CHANGELOG

 Indices and tables
===================

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
