{% set suffix="'s documentation" -%}
{%- set hr=('=' * (pkg_name|length + suffix|length) -%}
{{ pkg_name }}{{ suffix }}
{{ hr }}

Contents:

.. toctree::
   :maxdepth: 2

   README
   modules/index

.. toctree::
   :maxdepth: 1

   CHANGELOG

 Indices and tables
===================

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
