[build-system]
requires = ['setuptools', 'setuptools_scm']
build-backend = 'setuptools.build_meta'

[project]
name = '{{ name }}'
description = '{{ description }}'
readme = 'README.rst'
license = {file = 'LICENSE'}
authors = [{name='{{ author }}', email='{{ email }}'}]
dependencies = []
classifiers = [
    "{{ status }}",
    "Intended Audience :: Developers",
    "{{ license }}",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",    
    "Programming Language :: Python :: Implementation :: CPython",
]
requires-python = '>=3.9'
dynamic = ['version']

[project.scripts]
#{{ name }} = '{{ module_name }}.commands:main'

[tools.setuptools]
package-dir = {'' = 'src'}

[tools.setuptools.dynamic]
version = {attr = '{{ module_name }}.version.version'}

[tool.setuptools_scm]
write_to = 'src/{{ module_name }}/version.py'
version_scheme = 'python-simplified-semver'
local_scheme = 'no-local-version'

[project.urls]
'Homepage' = '{{ url }}'

[project.optional-dependencies]
test=[
    'tox'
]
doc = ['sphinx']
